.btn {
    display: inline-block;
    padding: 5px 10px;

    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;

    background-color: #56b8ff;
    border-radius: 15px;
    border: 0;

    cursor: pointer;
}