@keyframes ldio-46e9iduv8ts-1 {
    0% {
        top: 21.5px;
        height: 57px
    }
    50% {
        top: 35px;
        height: 30px
    }
    100% {
        top: 35px;
        height: 30px
    }
}

@keyframes ldio-46e9iduv8ts-2 {
    0% {
        top: 24.875000000000004px;
        height: 50.24999999999999px
    }
    50% {
        top: 35px;
        height: 30px
    }
    100% {
        top: 35px;
        height: 30px
    }
}

@keyframes ldio-46e9iduv8ts-3 {
    0% {
        top: 28.25px;
        height: 43.5px
    }
    50% {
        top: 35px;
        height: 30px
    }
    100% {
        top: 35px;
        height: 30px
    }
}

.ldio-46e9iduv8ts div {
    position: absolute;
    width: 11px
}

.ldio-46e9iduv8ts div:nth-child(1) {
    left: 19.5px;
    background: #00b5ff;
    animation: ldio-46e9iduv8ts-1 1.2048192771084336s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: -0.24096385542168675s
}

.ldio-46e9iduv8ts div:nth-child(2) {
    left: 44.5px;
    background: #008fff;
    animation: ldio-46e9iduv8ts-2 1.2048192771084336s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: -0.12048192771084337s
}

.ldio-46e9iduv8ts div:nth-child(3) {
    left: 69.5px;
    background: #0002ff;
    animation: ldio-46e9iduv8ts-3 1.2048192771084336s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: undefineds
}

.loadingio-spinner-pulse-fh7sn0mvkr8 {
    margin: 0 auto;
    width: 84px;
    height: 84px;
    display: block;
    overflow: hidden;
    background: none;
}

.ldio-46e9iduv8ts {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.84);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

.ldio-46e9iduv8ts div {
    box-sizing: content-box;
}